body{
    font-family:  Nunito;
    background-color: rgb(208, 224, 240);
}
.navbar{
    margin-top: -10px;
    display:flex;
    width: 100%;
    height: 100px;
    flex-direction:row;
    justify-content: end;
    background-color: black;
}

.titre{
    text-align: center;
    color: snow;
}

.bouton{
    margin-right: 10px;
    display: flex;
    width: 45%;
    height: 100px;
    flex-direction:row-reverse;
    justify-content:end ;
    align-items: center;
}

.boutonFormulaire{
    text-decoration: none;
    margin-left: 60px;
    color: white;
    font-family: Nunito;
    width: 110px;
    height: 38px;
    border: 2px solid white;
    background-color: black;
    transition: 0.5s;
    -webkit-border-radius: 12px / 24px;
    -moz-border-radius:    12px / 24px; 
    border-radius:         12px / 24px; 
}

.boutonFormulaire:hover {
    transition: 0.5s;
    width: 110px;
    height: 50px;
    background-color: white;
    border: 5px solid white;
    -webkit-border-radius: 12px / 24px;
    -moz-border-radius:    12px / 24px; 
    border-radius:         12px / 24px; 
    text-decoration: none;
}

.boutonFormulaireResponsive{
    visibility: hidden;
}

a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    color:black;
}

.formulaireTexte{
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 27px;
    font-size: 20px;
}

.centrerFormulaire{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 200px;
    margin-top: 150px;
}

#formulaireConnection{
    padding: 50px;
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
    background-color: rgb(241, 232, 232);
    -webkit-border-radius: 12px / 24px;
    -moz-border-radius:    12px / 24px; 
    border-radius:         12px / 24px; 
    box-shadow:
    inset 0 0 1em white,
    0 0 2em black;
}

.inputFormulaire{
    transition: 0.05s;
    padding: 3px;
    margin: 3px ;
    -webkit-border-radius: 12px / 24px;
    -moz-border-radius:    12px / 24px; 
    border-radius:         12px / 24px; 
}

.inputFormulaire:focus{
    border: 3.5px solid greenyellow;
    background-color: rgb(255, 255, 255);
    transform: scale(1.02);
    transition: 0.05s;
}

.buttonConnect{
    transition: 0.5s;
    -webkit-border-radius: 12px / 24px;
    -moz-border-radius:    12px / 24px; 
    border-radius:         12px / 24px; 
    background-color: black;
    color: aliceblue;
    padding: 7px;
    margin: 10px;
    margin-left: 35px;
}

.buttonConnect:hover{
    transition: 0.5s;
    transform: scale(1.2);
    -webkit-border-radius: 12px / 24px;
    -moz-border-radius:    12px / 24px; 
    border-radius:         12px / 24px; 
    background-color: black;
    color: aliceblue;
    padding: 7px;
    margin: 10px;
    margin-left: 35px;
    box-shadow:
    inset 0 0 1em black,
    0 0 1em black;
}

@media screen and (max-width: 767px){
    .boutonFormulaire{
        visibility: hidden;
    }

    .navbar{
        margin-top: -10px;
        display:flex;
        width: 100%;
        height: 100px;
        flex-direction:row;
        justify-content: end;
        background-color: black;
    }
    
    .bouton{
        margin-right: 10px;
        display: flex;
        width: 45%;
        height: 100px;
        flex-direction:row-reverse;
        justify-content:end ;
        align-items: center;

    }

    .titre{
        text-align: center;
        color: snow;
    }

    .boutonFormulaireResponsive{
        margin-right: -300px;
        visibility: visible;
        text-decoration: none;
        color: white;
        font-family: Nunito;
        width: 40px;
        height: 40px;
        border: 2px solid white;
        background-color: white;
        transition: 0.5s;
    }
}